.hero {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-hero {
  background-image: url('../../assets/images/hero-image.jpeg');
}

.hero-text {
  user-select: none;
  position: relative;
  color: var(--color-white);
  font-family: 'Satisfy';
  width: 100%;
  text-align: center;
}

.hero-initials {
  user-select: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  text-align: left;
  color: var(--color-white);
  font-family: 'Satisfy';
  letter-spacing: 5px;

  span {
    font-size: 1.2rem;
  }
}

.hero-title {
  top: 20%;
  font-size: clamp(3.25rem, 10vw, 8rem);
}

.hero-date {
  top: 30%;
  font-size: clamp(1.25rem, 8vw, 3rem);
  letter-spacing: 4px;
}

.hero-button-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 40%;
  font-size: 2rem;
}

.btn-rsvp {
  color: var(--color-white);
  background-color: var(--color-black);
  box-shadow: 0px 0px 5px 2.5px var(--color-primary);

  &:visited {
    color: var(--color-white);
  }

  &:hover, &:focus {
    box-shadow: 0px 0px 10px 5px var(--color-primary);
  }
}

@media screen and (max-width: 600px) {
  .hero-title {
    top: 35%;
  }

  .hero-date {
    top: 50%;
  }

  .hero-initials {
    display: none;
  }

  .hero-button-container {
    gap: 1.5rem;
    font-size: 1.5rem;
    top: 65%;
  }
}

.silly-link {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: default;
}
