.hero {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-hero {
  background-image: url('../../assets/images/hero-image.jpeg');
}

.bottom-hero {
  background-image: url('../../assets/images/secondary-image.png');
}

.hero-text {
  user-select: none;
  position: absolute;
  color: var(--color-white);
  font-family: cursive;
  width: 100%;
  text-align: center;
}

.hero-initials {
  user-select: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  text-align: left;
  color: var(--color-white);
  font-family: cursive;
  letter-spacing: 5px;

  span {
    font-size: 1.2rem;
  }
}

.hero-title-top {
  top: 25%;
  font-size: 8rem;
}

.hero-title-bottom {
  color: var(--color-white);
  font-size: 5rem;
}

.hero-date {
  top: 60%;
  font-size: 3rem;
  letter-spacing: 4px;
}

.hero-button-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 80%;
  font-size: 2.2rem;
}

.btn-rsvp {
  color: var(--color-black);
  background-color: var(--color-white);

  &:hover, &:focus {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }

  &:visited {
    color: var(--color-white);
  }
}

.btn-registry {
  color: var(--color-white);
  background-color: var(--color-black);

  &:hover, &:focus {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }

  &:visited {
    color: var(--color-black);
  }
}

.scripture-box {
  background-color: var(--color-primary);
  margin: 2rem 0;
  padding: 2rem 20rem;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0px 5px 15px var(--color-grey);
}
