.hero {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-hero {
  background-image: url('../../assets/images/hero-image.jpeg');
}

.location-hero {
  background-image: url('../../assets/images/secondary-image.png');
}

.hero-text {
  user-select: none;
  position: absolute;
  color: var(--color-white);
  font-family: cursive;
  width: 100%;
  text-align: center;
}

.hero-initials {
  user-select: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  text-align: left;
  color: var(--color-white);
  font-family: cursive;
  letter-spacing: 5px;

  span {
    font-size: 1.2rem;
  }
}

.hero-title-top {
  top: 25%;
  font-size: 8rem;
}

.hero-date {
  top: 60%;
  font-size: 3rem;
  letter-spacing: 4px;
}

.hero-button-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 80%;
  font-size: 2.2rem;
}

.btn-rsvp {
  color: var(--color-black);
  background-color: var(--color-white);

  &:visited {
    color: var(--color-black);
  }
}

.btn-registry {
  color: var(--color-white);
  background-color: var(--color-black);

  &:visited {
    color: var(--color-white);
  }
}

.btn-rsvp, .btn-registry {
  &:hover, &:focus {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    box-shadow: 0px 0px 10px 2px var(--color-primary);
  }
}

.scripture-box {
  background-color: var(--color-primary);
  margin: 2rem 0;
  padding: 2rem 12rem;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0px 5px 15px var(--color-grey);

  h3 {
    margin: 1rem 0 0 0;
    font-size: 1.75rem;
  }
}

// location styles
.location-cards-container {
  display: flex;
  justify-content: center;
  gap: 20rem;
  align-items: center;
  height: 100vh;
}

.location-card-outter {
  width: 380px;
  height: 480px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-card-inner {
  width: 320px;
  height: 410px;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #7ECDDF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  &:hover, &:focus {
    box-shadow: 0px 0px 10px 2px var(--color-primary);
  }
}

.location-card-title {
  color: var(--color-white);
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
  width: 60%;
  border-bottom: 1px solid var(--color-white);
  user-select: none;
} 

.location-card-date-time {
  color: var(--color-primary);
  text-align: center;
  line-height: 2rem;
  font-size: 1.4rem;
  user-select: none;
}

.location-card-address {
  margin-bottom: 1.2rem;

  p {
    margin: 0.5rem 0;
    color: var(--color-white);
    text-align: center;
    font-size: 1.6rem;
  }
}

.footer-text {
  color: var(--color-white);
  position: fixed;
  bottom: 0;
  font-size: 0.6rem;
  user-select: none;
}
