// registries
.registries {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
}

.registries-title {
  color: var(--color-black);
  font-size: 3rem;
  font-family: 'Satisfy';
  user-select: none;
}

.registry-outter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 180px;
}

.registry-outter-target {
  background: #F6F6F6;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}

.registry-outter-amazon {
  background: #8D8D8D;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}

.registry-image {
  width: 280px;
  height: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);

  transition: width 0.1s, height 0.1s, transform 0.1s;

  &:hover, &:focus {
    transform: rotate(2.5deg);
    width: 285px;
    height: 145px;
  }
}

.registry-target {
  background-image: url('../../assets/images/target_link.png');
}

.registry-amazon {
  background-image: url('../../assets/images/amazon_link.png');
}

@media screen and (max-width: 600px) {
  .registries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    gap: 2rem;
    padding: 2rem;
  }

  .registries-title {
    font-size: 2rem;
  }

  .registry-outter {
    width: 300px;
    height: 160px;
  }

  .registry-image {
    width: 260px;
    height: 120px;
  
    &:hover, &:focus {
      width: 265px;
      height: 125px;
    }
  }
}
