.silly-container {
  background-color: var(--color-black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.silly-img-container {
  height: 400px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px var(--color-primary);
}

.silly-img {
  width: 300px;
  height: auto;
}
