.water-main {
  background: #333333;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.water-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: #56DFF1;
  border-radius: 0 0 20px 20px;
  border: 4px solid #008EDE;
  border-top: none;
  font-size: 2rem;
}

.water-nav--name {
  padding: 1rem 2rem;
  flex-grow: 1;
  text-decoration: none;
  color: black;
  text-align: center;
  cursor: pointer;

  &.selected-name {
    background: #008EDE;
    color: white;
    border-radius: 0 0 20px 20px;
    border: 4px solid white;
    border-top: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 -4px -4px;
  }
}

.water-stats-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: -2rem;
  text-align: center;
}

.water-stats {
  background: white;
  color: black;
  border: 4px solid #56DFF1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0.75rem;
  z-index: 2;
}

.page-toggle {
  background: #333333;
  text-decoration: none;
  border: 4px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0.75rem;
  color: #56DFF1;
  z-index: 2;
}

.water-progress-container {
  background: #BBDEF2;
  flex: 1.5;
  width: calc(100% - 2rem);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.water-progress {
  color: black;
  font-size: 5rem;
  font-weight: 900;
  z-index: 2;
}

.waves {
  position: absolute;
  transition: all ease-in-out 500ms;
}

.water-control-container {
  background: linear-gradient(#D0F3F7 50%, #BBDEF2 50%);
  flex: 1;
  width: calc(100% - 2rem);
  border-bottom: 1rem solid #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.water-control--item {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.water-control--slider {
  // do I need this?
}

.water-control--display {
  background: white;
  border: 4px solid #008EDE;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 50px;
    height: 20px;
    background: #008EDE;
    color: white;
    margin-bottom: -0.5rem;
  }
}

.water-control--button {
  background: #56DFF1;
  border: 4px solid #008EDE;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  padding: 1rem;
  width: min(calc(100% - 2rem), 400px);
  color: white;

  &:active, &:focus {
    // make this fun
  }
}
