.banner
  .scripture-box  
    | [31] “Therefore a man shall leave his father and mother and hold fast to his wife, and the two shall become one flesh.” [32] This mystery is profound, and I am saying that it refers to Christ and the church.
    h3 Ephesians 5: 31-32
